#login-box {
    position: relative;
    margin: auto;
    width: 400px;
    background-color: #fff;
    padding: 120px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

#login-box .left {

    width: 100%;
    margin-bottom: 20px;
}

#login-box .right {
    float: right;
    width: 100%;
    margin-bottom: 20px;
}

#login-box h1 {
    margin: 0 0 20px;
    font-size: 24px;
    color: #333;
    text-align: center;
}

#login-box input[type="text"],
#login-box input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

#login-box input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#login-box .or {
    margin-bottom: 10px;
    font-size: 18px;
    color: #999;
    text-align: center;
}

#login-box .social-signin {
    width: 100%;
    padding: 10px;
    background-color: #325d88;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    margin-bottom: 10px;
}

#login-box .social-signin.facebook {
    background-color: #3b5998;
}

#login-box .social-signin.google {
    background-color: #dd4b39;
}