.mfa-container {
    height: 100vh;
    background-image: url(../../login-background.jpg);
    background-size: contain;
}

.mfa-panel {
    background-color: #000;
    color: #fff;
}

#mfa-form {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 400px;
    margin: auto auto;
    border: none;
    border-radius: 4px;
    padding: 1rem 2rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.input-container {
    display: inherit;
    flex-flow: inherit;
    justify-content: inherit;
    align-items: inherit;
    width: inherit;
}

#mfa-form input[type="text"] {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}

#mfa-form input[type="submit"] {
    margin: 0.5rem auto;
    width: 100%;
    max-width: 60%;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}