.filter-container {
    position: absolute;
    background-color: white;
    min-height: 25em;
    top: 7em;
    right: 5.5em;
    width: 21vw;
    box-shadow: 'rgba(0, 0, 0, 1)  0px 5px 15px';
    border: 1px solid #c3c3c3d6;
}